body {
    background-color: black;
}

body h2{
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-top: 250px;
    margin-bottom: 100px;
    height: 1px;
}

.button {
    display: inline-block;
    padding: 24px 48px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    background:gray;
    color: whitesmoke;
    margin-left: 500px;
  }

  .button:hover,
  .button:focus,
  .button:active {
    background: #b7b6cd;
    color: #fff;
  }
